.main{  
    background-color: rgba(6, 5, 31, .7);
    align-items: center;
    display: flex;  
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.content {
    bottom: 0;
    height: 1070px;
    left: 0;
    position: fixed;
    width: 100%;
}

.prizes {
    background: url('@/assets/images/bg-prize.webp') no-repeat;
    background-size: contain;
    height: 727px;
    position: relative;
    padding-top: 110px;
    margin: 0 auto;
    width: 684px;
}

.prizes-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    justify-content: center;
    overflow-y: auto;
    margin: 0 auto;
    width: 550px;
}

.prize {
    min-height: 195px;
    text-align: center;
    width: calc(25% - 10px);
}

.img {
    img {
        height: 110px;
        width: 110px;
    }
}

.price {
    color: #E177B0;
    font-size: 24px;
    margin-top: 4px;

    img {
        height: 20px;
        margin-left: 5px;
        width: 22px;
    }
}

.name {
    color: #FF7AC1;
    font-size: 24px;
}

.message {
    color: #F4AE80;
    font-size: 24px;
    text-align: center;
    margin-top: 77px;
}

.btns {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 45px;

    & > span {
        align-items: center;
        display: flex;
        font-size: 32px;
        justify-content: center;
        text-align: center;
        height: 108px;
        width: 291px;
    }
}

.think-about {
    background: url('@/assets/images/btn-bg-enjoy-prize.png') no-repeat;
    background-size: contain;
    color: #E177B0;
    margin-right: 20px;

    & > span {
        display: inline-block;
        max-width: 220px;
    }
}

.confirm {
    background: url('@/assets/images/btn-bg-explorer-again.png') no-repeat;
    background-size: contain;
    border: none;
    color: #431774;
    flex-direction: column;
    overflow: hidden;
 
    & > span {
        display: block;

        & > img {
            height: 20px;
            margin-right: 5px;
            width: 22px;
        }

        & > em {
            color: #431774;
            font-size: 24px;
            position: relative;
            top: -3px;
        }
    }
}