.main{  
    background-color: rgba(6, 5, 31, .7);
    align-items: center;
    display: flex;  
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.content-zh {
    background: url('@/assets/images/zh/rules-bg.webp') no-repeat;
    background-size: contain;
    bottom: 0;
    height: 1180px;
    left: 0;
    position: fixed;
    width: 100%;
}

.content-id {
    @extend .content-zh;

    background: url('@/assets/images/id/rules-bg.webp') no-repeat;
    background-size: contain;
}

.back {
    height: 40px;
    margin: 25px 0 0 25px;
    width: 40px;
}

.rule-img {
    max-height: calc(100% - 120px);
    overflow-y: auto;
    margin-top: 52px;
}
